node_red/old/EntryPointVacanceDeux.txt
[{"id":"e06d86c4.387c68","type":"subflow","name":"HeatingMinMax","info":"","in":[{"x":80,"y":280,"wires":[{"id":"ba0324cc.721948"}]}],"out":[{"x":1120,"y":300,"wires":[{"id":"767b4578.523b9c","port":0}]}]},{"id":"767b4578.523b9c","type":"function","z":"e06d86c4.387c68","name":"tempMinMax","func":"context.tempnow = context.tempnow || 0.0;\ncontext.tempmax = context.tempmax || 0.0;\ncontext.tempmin = context.tempmin || 0.0;\n\n\nif (msg.topic == 'tempMin') {\n  context.tempmin = msg.payload;\n} else if (msg.topic == 'tempMax') {\n  context.tempmax = msg.payload;\n} else if (msg.topic == 'tempAve') {\n  context.tempnow = msg.payload;\n}\n\n\nif (context.tempnow > context.tempmax){\n    return {\"payload\": false};\n} else if (context.tempnow < context.tempmin){\n    return {\"payload\": true};\n}\nreturn;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[[]]},{"id":"96de220b.9b13c","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["14af9747.8f3049"]]},{"id":"ce2b5f7e.5e041","type":"function","z":"e06d86c4.387c68","name":"Kelvin_to_Float","func":"\nreturn {\"topic\": 'kelvin', \"payload\": parseFloat(msg.payload.replace(',', '.')) -273.15 };","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["14af9747.8f3049"]]},{"id":"14af9747.8f3049","type":"function","z":"e06d86c4.387c68","name":"Average","func":"context.temp1 = context.temp1 || 0.0;\ncontext.temp2 = context.temp2 || 0.0;\n\nif (msg.topic === 'kelvin') {\n  context.temp1 = msg.payload;\n} else {\n  context.temp2 = msg.payload;\n}\n\nreturn {\"topic\": 'tempAve', \"payload\": (context.temp1+context.temp2)/2}","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["767b4578.523b9c"]]},{"id":"659ad9c2.0e76c8","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"topic\": 'tempMin', \"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["767b4578.523b9c"]]},{"id":"43167b63.52d444","type":"switch","z":"e06d86c4.387c68","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":280,"wires":[["96de220b.9b13c"],["ce2b5f7e.5e041"],["659ad9c2.0e76c8"],["70e32312.523a2c"]]},{"id":"ba0324cc.721948","type":"split","z":"e06d86c4.387c68","name":"","splt":"|","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":170,"y":280,"wires":[["43167b63.52d444"]]},{"id":"70e32312.523a2c","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"topic\": 'tempMax', \"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":360,"wires":[["767b4578.523b9c"]]},{"id":"c7d3cdf0.9747e","type":"subflow","name":"Vacance","info":"","in":[{"x":700,"y":500,"wires":[{"id":"7f6dd543.34a95c"}]}],"out":[{"x":1560,"y":420,"wires":[{"id":"f5e5d8f8.0f60a8","port":0}]},{"x":400,"y":520,"wires":[{"id":"49343d18.de7224","port":0}]}]},{"id":"fe7a9e5b.d3683","type":"function","z":"c7d3cdf0.9747e","name":"EntréeHttpTest","func":"var timeEnd = new Date('July 27, 2018 20:00:00').valueOf();\nvar tempMin = 15;\nvar tempMax = 20;\n\nreturn {\"payload\": timeEnd+'|'+tempMin+'|'+tempMax};","outputs":1,"noerr":0,"x":200,"y":280,"wires":[["afa4b75f.b70da8"]]},{"id":"afa4b75f.b70da8","type":"split","z":"c7d3cdf0.9747e","name":"","splt":"|","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":400,"wires":[["592495e2.495d3c"]]},{"id":"592495e2.495d3c","type":"switch","z":"c7d3cdf0.9747e","name":" ","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":400,"wires":[["a681dc4c.295cb"],["e05dddaa.21738","5b5d2a43.421fd4"],["ec69d12f.65686","bf2c29b8.537238"]],"outputLabels":["","temp.min","temp.max"]},{"id":"e05dddaa.21738","type":"debug","z":"c7d3cdf0.9747e","name":"Temp Min","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":500,"y":260,"wires":[]},{"id":"ec69d12f.65686","type":"debug","z":"c7d3cdf0.9747e","name":"Temp Max","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":510,"y":320,"wires":[]},{"id":"2a9df9ca.6bad96","type":"mqtt in","z":"c7d3cdf0.9747e","name":"EntréeLambdaInutile","topic":"/home/A/Input/float/Thermostat_(Température_pièce)","qos":"0","broker":"69c91172.f5486","x":190,"y":220,"wires":[["fe7a9e5b.d3683"]]},{"id":"9f677b49.212878","type":"mqtt in","z":"c7d3cdf0.9747e","name":"Date Input","topic":"/home/general/Input/DateTime/Date_et_heure","qos":"0","broker":"69c91172.f5486","x":680,"y":260,"wires":[["86f1bbaf.a02ff8"]]},{"id":"f5e5d8f8.0f60a8","type":"subflow:e06d86c4.387c68","z":"c7d3cdf0.9747e","x":1320,"y":420,"wires":[["4711dc33.fd54b4"]]},{"id":"7f6dd543.34a95c","type":"function","z":"c7d3cdf0.9747e","name":"Groupe Temp","func":"context.temp1 = context.temp1 || 0.0;\ncontext.temp2 = context.temp2 || 0.0;\ncontext.temp3 = context.temp3 || 0.0;\ncontext.temp4 = context.temp4 || 0.0;\n\nif (msg.topic == \"tempThermo\") {\n  context.temp1 = msg.payload;\n} else if (msg.topic == \"tempZone\") {\n  context.temp2 = msg.payload;\n} else if (msg.topic == \"tempMin\"){\n  context.temp3 = msg.payload;\n} else if (msg.topic == \"tempMax\"){\n  context.temp4 = msg.payload;\n}\n\nreturn {\"payload\": context.temp1+'|'+context.temp2+'|'+context.temp3+'|'+context.temp4}","outputs":1,"noerr":0,"x":940,"y":420,"wires":[["f5e5d8f8.0f60a8"]]},{"id":"5b5d2a43.421fd4","type":"function","z":"c7d3cdf0.9747e","name":"Add Topic","func":"msg.topic = \"tempMin\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["7f6dd543.34a95c"]]},{"id":"bf2c29b8.537238","type":"function","z":"c7d3cdf0.9747e","name":"Add Topic","func":"msg.topic = \"tempMax\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":440,"wires":[["7f6dd543.34a95c"]]},{"id":"4711dc33.fd54b4","type":"debug","z":"c7d3cdf0.9747e","name":"Result Heating","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1280,"y":160,"wires":[]},{"id":"a681dc4c.295cb","type":"function","z":"c7d3cdf0.9747e","name":"Time End","func":"msg.topic = \"timeEnd\";\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":300,"wires":[["4c249c2.24d6d64","2a73f17f.c8857e"]]},{"id":"4c249c2.24d6d64","type":"function","z":"c7d3cdf0.9747e","name":"Compare date","func":"context.timeNow = context.timeNow || 0.0;\ncontext.timeEnd = context.timeEnd || 0.0;\n\nif (msg.topic == \"timeNow\"){\n    context.timeNow = msg.payload;\n} else if (msg.topic == \"timeEnd\"){\n    context.timeEnd = msg.payload;\n}\n\nreturn {\"payload\":context.timeNow < context.timeEnd};","outputs":1,"noerr":0,"x":1060,"y":280,"wires":[["faf26b0f.7e0348","9bfb8c5b.f97ac"]]},{"id":"86f1bbaf.a02ff8","type":"function","z":"c7d3cdf0.9747e","name":"Time Now","func":"msg.topic = \"timeNow\"\nvar dateParts = msg.payload.split(\" \");\nvar date = \"\";\nvar subParts = dateParts[0].split(\"/\");\ndate += subParts[2]+\"-\"+subParts[1]+\"-\"+subParts[0]+\"T\"+dateParts[1];\nmsg.payload = new Date(date).valueOf();\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":260,"wires":[["4c249c2.24d6d64","8acfe33b.d6b93"]]},{"id":"faf26b0f.7e0348","type":"switch","z":"c7d3cdf0.9747e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":400,"wires":[["3c1e0291.c8ca3e"],["f5e5d8f8.0f60a8"]]},{"id":"3c1e0291.c8ca3e","type":"http request","z":"c7d3cdf0.9747e","name":"","method":"PUT","ret":"txt","url":"http://localhost:3000/mishap/setDone/","tls":"","x":1310,"y":360,"wires":[[]]},{"id":"9bfb8c5b.f97ac","type":"debug","z":"c7d3cdf0.9747e","name":"Compare Timestamp","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1300,"y":100,"wires":[]},{"id":"8acfe33b.d6b93","type":"debug","z":"c7d3cdf0.9747e","name":"Time Now Timestamp","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":900,"y":100,"wires":[]},{"id":"2a73f17f.c8857e","type":"debug","z":"c7d3cdf0.9747e","name":"Time End Timestamp","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":900,"y":160,"wires":[]},{"id":"22f2eaa6.130036","type":"mosca in","z":"c7d3cdf0.9747e","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":250,"y":60,"wires":[[]]},{"id":"49343d18.de7224","type":"websocket in","z":"c7d3cdf0.9747e","name":"","server":"acc76043.6f023","client":"","x":140,"y":520,"wires":[["afa4b75f.b70da8"]]},{"id":"acc76043.6f023","type":"websocket-listener","z":"c7d3cdf0.9747e","path":"ws://localhost:3000/Websocket","wholemsg":"false"},{"id":"657fc36c.652dfc","type":"mosca in","z":"28b55ce2.cec104","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":150,"y":60,"wires":[[]]},{"id":"8b70a153.7190d","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp  Thermostat  A","topic":"/home/A/Input/float/Thermostat_(Température_pièce)","qos":"0","broker":"69c91172.f5486","x":190,"y":160,"wires":[["157af13c.d8e25f"]]},{"id":"8e51ff74.6e5c4","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp Zone A","topic":"/home/general/Memory/float/Température_Zone_A_[K]","qos":"2","broker":"69c91172.f5486","x":210,"y":200,"wires":[["7aa6008.df8db"]]},{"id":"849e5d03.bb4aa","type":"mqtt out","z":"28b55ce2.cec104","name":"","topic":"/home/A/Output/bool/Radiateur","qos":"","retain":"","broker":"7363c6d.c60f938","x":790,"y":180,"wires":[]},{"id":"157af13c.d8e25f","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempThermo\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["80f1e2f7.4cab6"]]},{"id":"7aa6008.df8db","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempZone\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["80f1e2f7.4cab6"]]},{"id":"1b3dab4f.ec7935","type":"debug","z":"28b55ce2.cec104","name":"Chauffage","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":770,"y":20,"wires":[]},{"id":"bae2affc.d559b","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp  Thermostat  D","topic":"/home/D/Input/float/Thermostat_(Température_pièce)","qos":"0","broker":"69c91172.f5486","x":190,"y":260,"wires":[["32957d1b.3eaa12"]]},{"id":"75d4b79a.d2ed68","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp Zone D","topic":"/home/general/Memory/float/Température_Zone_D_[K]","qos":"2","broker":"69c91172.f5486","x":210,"y":300,"wires":[["b6d08e9f.5a0d7"]]},{"id":"73cc989.7d63668","type":"mqtt out","z":"28b55ce2.cec104","name":"","topic":"/home/D/Output/bool/Radiateur","qos":"","retain":"","broker":"7363c6d.c60f938","x":790,"y":280,"wires":[]},{"id":"32957d1b.3eaa12","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempThermo\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["41852fd9.ff07"]]},{"id":"b6d08e9f.5a0d7","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempZone\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["41852fd9.ff07"]]},{"id":"41852fd9.ff07","type":"subflow:c7d3cdf0.9747e","z":"28b55ce2.cec104","x":560,"y":280,"wires":[["73cc989.7d63668"],[]]},{"id":"80f1e2f7.4cab6","type":"subflow:c7d3cdf0.9747e","z":"28b55ce2.cec104","x":560,"y":180,"wires":[["849e5d03.bb4aa","1b3dab4f.ec7935"],["a3ae2463.e64738"]]},{"id":"a3ae2463.e64738","type":"debug","z":"28b55ce2.cec104","name":"RequeteServInput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":100,"wires":[]},{"id":"69c91172.f5486","type":"mqtt-broker","z":"","name":"","broker":"http://127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7363c6d.c60f938","type":"mqtt-broker","z":"","name":"","broker":"http://127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]