node_red/Consigne.json
[{"id":"36734610.6c725a","type":"mosca in","z":"28b55ce2.cec104","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":170,"y":40,"wires":[[]]},{"id":"38b4ce26.0c44e2","type":"mqtt in","z":"28b55ce2.cec104","name":"Point Consigne A","topic":"/home/A/Input/float/Thermostat_(Point_de_consigne)","qos":"2","broker":"57fbe139.3207c","x":160,"y":100,"wires":[["37c14194.6935be"]]},{"id":"1ec9d3d.05baa2c","type":"debug","z":"28b55ce2.cec104","name":"Temp Consigne A","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":570,"y":100,"wires":[]},{"id":"2ca70b5.54115f4","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"obj","url":"http://localhost:3000/consigne/update","tls":"","x":550,"y":160,"wires":[[]]},{"id":"4505d355.4ea7ec","type":"mqtt in","z":"28b55ce2.cec104","name":"Point Consigne D","topic":"/home/D/Input/float/Thermostat_(Point_de_consigne)","qos":"2","broker":"57fbe139.3207c","x":800,"y":100,"wires":[["97bac968.4154b8"]]},{"id":"801c84ee.1d9568","type":"debug","z":"28b55ce2.cec104","name":"Temp Consigne D","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1210,"y":100,"wires":[]},{"id":"fb2e858f.514a18","type":"mqtt in","z":"28b55ce2.cec104","name":"Point Consigne G","topic":"/home/G/Input/float/Thermostat_(Point_de_consigne)","qos":"2","broker":"57fbe139.3207c","x":800,"y":280,"wires":[["78e8cf6.db8093"]]},{"id":"396a0e02.88db72","type":"debug","z":"28b55ce2.cec104","name":"Temp Consigne G","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1210,"y":280,"wires":[]},{"id":"10ea40aa.b7b38f","type":"mqtt in","z":"28b55ce2.cec104","name":"Point Consigne E","topic":"/home/E/Input/float/Thermostat_(Point_de_consigne)","qos":"2","broker":"57fbe139.3207c","x":160,"y":280,"wires":[["7f73b437.ae965c"]]},{"id":"2a1a4da2.e087e2","type":"debug","z":"28b55ce2.cec104","name":"Temp Consigne E","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":570,"y":280,"wires":[]},{"id":"37c14194.6935be","type":"function","z":"28b55ce2.cec104","name":"Json","func":"return {\"payload\":{\"label\":\"A\", \"temperature\":msg.payload}};\n","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["1ec9d3d.05baa2c","2ca70b5.54115f4","2ec25e88.6054b2"]]},{"id":"7f73b437.ae965c","type":"function","z":"28b55ce2.cec104","name":"Json","func":"return {\"payload\":{\"label\":\"E\", \"temperature\":msg.payload}};\n","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["2a1a4da2.e087e2","d6b0a12b.a9846","3dc8e15.ff6e51e"]]},{"id":"2ec25e88.6054b2","type":"link out","z":"28b55ce2.cec104","name":"CA","links":[],"x":495,"y":40,"wires":[]},{"id":"d6b0a12b.a9846","type":"link out","z":"28b55ce2.cec104","name":"CE","links":[],"x":495,"y":220,"wires":[]},{"id":"40c173e.af5168c","type":"link out","z":"28b55ce2.cec104","name":"CD","links":[],"x":1135,"y":40,"wires":[]},{"id":"97bac968.4154b8","type":"function","z":"28b55ce2.cec104","name":"Json","func":"return {\"payload\":{\"label\":\"D\", \"temperature\":msg.payload}};\n","outputs":1,"noerr":0,"x":990,"y":100,"wires":[["801c84ee.1d9568","40c173e.af5168c","fb4485f.8a8db78"]]},{"id":"ce69afa.f97ef5","type":"link out","z":"28b55ce2.cec104","name":"CG","links":[],"x":1135,"y":220,"wires":[]},{"id":"78e8cf6.db8093","type":"function","z":"28b55ce2.cec104","name":"Json","func":"return {\"payload\":{\"label\":\"G\", \"temperature\":msg.payload}};\n","outputs":1,"noerr":0,"x":990,"y":280,"wires":[["396a0e02.88db72","ce69afa.f97ef5","db1034c5.35d0e8"]]},{"id":"b0fff868.de8f88","type":"mqtt in","z":"28b55ce2.cec104","name":"Point Consigne H","topic":"/home/H/Input/float/Thermostat_(Point_de_consigne)","qos":"2","broker":"57fbe139.3207c","x":160,"y":460,"wires":[["8bf2aa8e.149658"]]},{"id":"653ee73c.e0a7c8","type":"debug","z":"28b55ce2.cec104","name":"Temp Consigne H","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":570,"y":460,"wires":[]},{"id":"e9f53c54.25f7f","type":"link out","z":"28b55ce2.cec104","name":"CH","links":[],"x":495,"y":400,"wires":[]},{"id":"8bf2aa8e.149658","type":"function","z":"28b55ce2.cec104","name":"Json","func":"return {\"payload\":{\"label\":\"H\", \"temperature\":msg.payload}};\n","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["653ee73c.e0a7c8","e9f53c54.25f7f","d7878d44.45224"]]},{"id":"529b4cd3.14b4a4","type":"mqtt in","z":"28b55ce2.cec104","name":"Point Consigne I","topic":"/home/I/Input/float/Thermostat_(Point_de_consigne)","qos":"2","broker":"57fbe139.3207c","x":800,"y":460,"wires":[["71193ce3.e47724"]]},{"id":"67ac2abd.d605b4","type":"debug","z":"28b55ce2.cec104","name":"Temp Consigne I","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1210,"y":460,"wires":[]},{"id":"f5cd2ef0.39431","type":"link out","z":"28b55ce2.cec104","name":"CI","links":[],"x":1135,"y":400,"wires":[]},{"id":"71193ce3.e47724","type":"function","z":"28b55ce2.cec104","name":"Json","func":"return {\"payload\":{\"label\":\"I\", \"temperature\":msg.payload}};\n","outputs":1,"noerr":0,"x":990,"y":460,"wires":[["67ac2abd.d605b4","f5cd2ef0.39431","d0396414.241738"]]},{"id":"b68dc762.abec68","type":"mqtt in","z":"28b55ce2.cec104","name":"Point Consigne J","topic":"/home/J/Input/float/Thermostat_(Point_de_consigne)","qos":"2","broker":"57fbe139.3207c","x":160,"y":640,"wires":[["139bb282.d16e4d"]]},{"id":"48b564d1.6a5a5c","type":"debug","z":"28b55ce2.cec104","name":"Temp Consigne J","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":570,"y":640,"wires":[]},{"id":"5e92d0ce.cb5b3","type":"link out","z":"28b55ce2.cec104","name":"CJ","links":[],"x":495,"y":580,"wires":[]},{"id":"139bb282.d16e4d","type":"function","z":"28b55ce2.cec104","name":"Json","func":"return {\"payload\":{\"label\":\"J\", \"temperature\":msg.payload}};\n","outputs":1,"noerr":0,"x":350,"y":640,"wires":[["48b564d1.6a5a5c","5e92d0ce.cb5b3","1323c3f5.91f6fc"]]},{"id":"b6c16ce4.085fd","type":"mqtt in","z":"28b55ce2.cec104","name":"Point Consigne K","topic":"/home/K/Input/float/Thermostat_(Point_de_consigne)","qos":"2","broker":"57fbe139.3207c","x":800,"y":640,"wires":[["4ec50974.5339e8"]]},{"id":"c14eef8.99ca81","type":"debug","z":"28b55ce2.cec104","name":"Temp Consigne K","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1210,"y":640,"wires":[]},{"id":"8db27b6.3c4f188","type":"link out","z":"28b55ce2.cec104","name":"CK","links":[],"x":1135,"y":580,"wires":[]},{"id":"4ec50974.5339e8","type":"function","z":"28b55ce2.cec104","name":"Json","func":"return {\"payload\":{\"label\":\"K\", \"temperature\":msg.payload}};\n","outputs":1,"noerr":0,"x":990,"y":640,"wires":[["c14eef8.99ca81","8db27b6.3c4f188","4873be37.f3115"]]},{"id":"b0fb3e1.4181bc","type":"mqtt in","z":"28b55ce2.cec104","name":"Point Consigne L","topic":"/home/L/Input/float/Thermostat_(Point_de_consigne)","qos":"2","broker":"57fbe139.3207c","x":160,"y":820,"wires":[["78ae072f.8f40f8"]]},{"id":"3951628e.5cac3e","type":"debug","z":"28b55ce2.cec104","name":"Temp Consigne L","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":570,"y":820,"wires":[]},{"id":"3d0f316c.cc00be","type":"link out","z":"28b55ce2.cec104","name":"CL","links":[],"x":495,"y":760,"wires":[]},{"id":"78ae072f.8f40f8","type":"function","z":"28b55ce2.cec104","name":"Json","func":"return {\"payload\":{\"label\":\"L\", \"temperature\":msg.payload}};\n","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["3951628e.5cac3e","3d0f316c.cc00be","1ae64d6b.6fb5c3"]]},{"id":"4c3493b1.ead66c","type":"mqtt in","z":"28b55ce2.cec104","name":"Point Consigne M","topic":"/home/M/Input/float/Thermostat_(Point_de_consigne)","qos":"2","broker":"57fbe139.3207c","x":800,"y":820,"wires":[["2dbc0a42.9a4326"]]},{"id":"3d7d1f19.fee78","type":"debug","z":"28b55ce2.cec104","name":"Temp Consigne M","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1210,"y":820,"wires":[]},{"id":"4b36af69.e71a1","type":"link out","z":"28b55ce2.cec104","name":"CM","links":[],"x":1135,"y":760,"wires":[]},{"id":"2dbc0a42.9a4326","type":"function","z":"28b55ce2.cec104","name":"Json","func":"return {\"payload\":{\"label\":\"M\", \"temperature\":msg.payload}};\n","outputs":1,"noerr":0,"x":990,"y":820,"wires":[["3d7d1f19.fee78","4b36af69.e71a1","24014e7.732f7b2"]]},{"id":"2435d14e.2029be","type":"mqtt in","z":"28b55ce2.cec104","name":"Point Consigne N","topic":"/home/N/Input/float/Thermostat_(Point_de_consigne)","qos":"2","broker":"57fbe139.3207c","x":160,"y":1000,"wires":[["e76a9a14.fc0f78"]]},{"id":"f23d54e3.895e68","type":"debug","z":"28b55ce2.cec104","name":"Temp Consigne N","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":570,"y":1000,"wires":[]},{"id":"34322a9d.819766","type":"link out","z":"28b55ce2.cec104","name":"CN","links":[],"x":495,"y":940,"wires":[]},{"id":"e76a9a14.fc0f78","type":"function","z":"28b55ce2.cec104","name":"Json","func":"return {\"payload\":{\"label\":\"N\", \"temperature\":msg.payload}};\n","outputs":1,"noerr":0,"x":350,"y":1000,"wires":[["f23d54e3.895e68","34322a9d.819766","82813c34.c1688"]]},{"id":"fb4485f.8a8db78","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"obj","url":"http://localhost:3000/consigne/update","tls":"","x":1190,"y":160,"wires":[[]]},{"id":"3dc8e15.ff6e51e","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"obj","url":"http://localhost:3000/consigne/update","tls":"","x":550,"y":340,"wires":[[]]},{"id":"db1034c5.35d0e8","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"obj","url":"http://localhost:3000/consigne/update","tls":"","x":1190,"y":340,"wires":[[]]},{"id":"d7878d44.45224","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"obj","url":"http://localhost:3000/consigne/update","tls":"","x":550,"y":520,"wires":[[]]},{"id":"d0396414.241738","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"obj","url":"http://localhost:3000/consigne/update","tls":"","x":1190,"y":520,"wires":[[]]},{"id":"1323c3f5.91f6fc","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"obj","url":"http://localhost:3000/consigne/update","tls":"","x":550,"y":700,"wires":[[]]},{"id":"4873be37.f3115","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"obj","url":"http://localhost:3000/consigne/update","tls":"","x":1200.01953125,"y":702.00390625,"wires":[[]]},{"id":"24014e7.732f7b2","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"obj","url":"http://localhost:3000/consigne/update","tls":"","x":1190,"y":880,"wires":[[]]},{"id":"1ae64d6b.6fb5c3","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"obj","url":"http://localhost:3000/consigne/update","tls":"","x":550,"y":880,"wires":[[]]},{"id":"82813c34.c1688","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"obj","url":"http://localhost:3000/consigne/update","tls":"","x":550,"y":1060,"wires":[[]]},{"id":"57fbe139.3207c","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]