node_red/HeatingMinMax.json
[{"id":"767b4578.523b9c","type":"function","z":"e06d86c4.387c68","name":"tempMinMax","func":"context.tempnow = context.tempnow || 0.0;\ncontext.tempmax = context.tempmax || 0.0;\ncontext.tempmin = context.tempmin || 0.0;\n\n\nif (msg.topic == 'tempMin') {\n  context.tempmin = msg.payload;\n} else if (msg.topic == 'tempMax') {\n  context.tempmax = msg.payload;\n} else if (msg.topic == 'tempAve') {\n  context.tempnow = msg.payload;\n}\n\n\nif (context.tempnow > context.tempmax){\n    return {\"payload\": false};\n} else if (context.tempnow < context.tempmin){\n    return {\"payload\": true};\n}\nreturn;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[[]]},{"id":"96de220b.9b13c","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["14af9747.8f3049"]]},{"id":"ce2b5f7e.5e041","type":"function","z":"e06d86c4.387c68","name":"Kelvin_to_Float","func":"\nreturn {\"topic\": 'kelvin', \"payload\": parseFloat(msg.payload.replace(',', '.')) -273.15 };","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["14af9747.8f3049"]]},{"id":"14af9747.8f3049","type":"function","z":"e06d86c4.387c68","name":"Average","func":"context.temp1 = context.temp1 || 0.0;\ncontext.temp2 = context.temp2 || 0.0;\n\nif (msg.topic === 'kelvin') {\n  context.temp1 = msg.payload;\n} else {\n  context.temp2 = msg.payload;\n}\n\nreturn {\"topic\": 'tempAve', \"payload\": (context.temp1+context.temp2)/2}","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["767b4578.523b9c"]]},{"id":"659ad9c2.0e76c8","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"topic\": 'tempMin', \"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["767b4578.523b9c"]]},{"id":"43167b63.52d444","type":"switch","z":"e06d86c4.387c68","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":280,"wires":[["96de220b.9b13c"],["ce2b5f7e.5e041"],["659ad9c2.0e76c8"],["70e32312.523a2c"]]},{"id":"ba0324cc.721948","type":"split","z":"e06d86c4.387c68","name":"","splt":"|","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":170,"y":280,"wires":[["43167b63.52d444"]]},{"id":"70e32312.523a2c","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"topic\": 'tempMax', \"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":360,"wires":[["767b4578.523b9c"]]}]