node_red/ModeMonitoring.json
[{"id":"e8e6bb28.ca8898","type":"function","z":"bfd6c638.cc5808","name":"","func":"global.set(\"json\", msg.payload);\n\nif (msg.payload.resolveDate === undefined) {\n    return {\"topic\": \"cond\", \"payload\": true};\n}\nreturn {\"topic\": \"cond\",\"payload\": false};","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["d34cdbfe.28e8a8","28668181.9c2d0e","3d463b0.172b3c6","5bb9baab.f904a4","3119a128.bc206e"]]},{"id":"3d463b0.172b3c6","type":"function","z":"bfd6c638.cc5808","name":"Normal","func":"if (msg.payload == false) return null;\n\nmsg.payload = global.get(\"json\");\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":220,"wires":[["6b4ffc6.8b3c404","d8273baf.8b7598"]]},{"id":"28668181.9c2d0e","type":"function","z":"bfd6c638.cc5808","name":"Vacancy","func":"if (msg.payload) return null;\n\nmsg.payload = global.get(\"json\");\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":300,"wires":[["80f9a755.1d9dd8","79efa0ed.e38be"]]},{"id":"80f9a755.1d9dd8","type":"link out","z":"bfd6c638.cc5808","name":"VacancyMode","links":["2c0c9a07.b42c16"],"x":935,"y":300,"wires":[]},{"id":"69ab2011.155cb","type":"debug","z":"bfd6c638.cc5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.resolveDate","x":420,"y":380,"wires":[]},{"id":"6b4ffc6.8b3c404","type":"debug","z":"bfd6c638.cc5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":930,"y":80,"wires":[]},{"id":"79efa0ed.e38be","type":"debug","z":"bfd6c638.cc5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":890,"y":400,"wires":[]},{"id":"fbd5f2e.61ceb1","type":"mqtt in","z":"bfd6c638.cc5808","name":"","topic":"/ws/consignes","qos":"2","broker":"14d19f44.f23a91","x":110,"y":260,"wires":[["e442311c.63879"]]},{"id":"d34cdbfe.28e8a8","type":"debug","z":"bfd6c638.cc5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":570,"y":140,"wires":[]},{"id":"e442311c.63879","type":"json","z":"bfd6c638.cc5808","name":"","property":"payload","action":"","pretty":false,"x":270,"y":260,"wires":[["e8e6bb28.ca8898","69ab2011.155cb"]]},{"id":"d8273baf.8b7598","type":"link out","z":"bfd6c638.cc5808","name":"VacancyMode","links":["e7b850ea.7f21f"],"x":935,"y":220,"wires":[]},{"id":"6dddf3d0.6c4b2c","type":"link in","z":"bfd6c638.cc5808","name":"","links":["1c5d9dd7.2b20d2"],"x":495,"y":560,"wires":[["3119a128.bc206e","8fe6a738.7358c8","49462d51.2b8b94"]]},{"id":"f48711e6.285a6","type":"link in","z":"bfd6c638.cc5808","name":"","links":["7e630701.23f978"],"x":495,"y":680,"wires":[["3119a128.bc206e","f7a4c174.0f868","6774f4f.e53c80c"]]},{"id":"3119a128.bc206e","type":"function","z":"bfd6c638.cc5808","name":"Choose","func":"context.cond = context.cond || true;\ncontext.actNormal = context.actNormal || false;\ncontext.actVac = context.actVac || false;\n\nif (msg.topic == \"cond\") {\n    context.cond = msg.payload;\n} else if (msg.topic == \"normal\") {\n    context.actNormal == msg.payload;\n} else if (msg.topic == \"vac\") {\n    context.actVac = msg.payload;\n}\n\nif (context.cond) {\n    return {\"payload\":context.actNormal};\n} else {\n    return {\"payload\": context.actVac};\n}","outputs":1,"noerr":0,"x":700,"y":600,"wires":[["d4e64e90.2a2a5"]]},{"id":"d4e64e90.2a2a5","type":"debug","z":"bfd6c638.cc5808","name":"rfsb","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":870,"y":500,"wires":[]},{"id":"8fe6a738.7358c8","type":"debug","z":"bfd6c638.cc5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":250,"y":600,"wires":[]},{"id":"f7a4c174.0f868","type":"debug","z":"bfd6c638.cc5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":250,"y":700,"wires":[]},{"id":"49462d51.2b8b94","type":"debug","z":"bfd6c638.cc5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":200,"y":540,"wires":[]},{"id":"6774f4f.e53c80c","type":"debug","z":"bfd6c638.cc5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":400,"y":640,"wires":[]},{"id":"5bb9baab.f904a4","type":"debug","z":"bfd6c638.cc5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":560,"y":60,"wires":[]},{"id":"a9db5ebb.6cd9a","type":"mosca in","z":"bfd6c638.cc5808","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":280,"y":140,"wires":[[]]},{"id":"14d19f44.f23a91","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]