node_red/NormalMode.json
[{"id":"1971d588.e6adaa","type":"subflow","name":"Heating","info":"","in":[{"x":60,"y":480,"wires":[{"id":"1f8703.60a068fe"}]}],"out":[{"x":1340,"y":440,"wires":[{"id":"6d715a06.0688b4","port":0}]},{"x":1060,"y":780,"wires":[{"id":"e7a84d24.2ddaa","port":0}]},{"x":1440,"y":800,"wires":[{"id":"fedf286e.c17018","port":0}]},{"x":1360,"y":860,"wires":[{"id":"7a5b7e2d.d95b3","port":0}]}]},{"id":"6d715a06.0688b4","type":"function","z":"1971d588.e6adaa","name":"tempConsigneExceeded","func":"context.tempnow = context.tempnow || null;\ncontext.tempmax = context.tempmax || null;\n\nif (msg.topic === 'requested temperature') {\n  context.tempmax = msg.payload;\n} else if(msg.topic === 'average') {\n  context.tempnow = msg.payload;\n}\nif (context.tempnow === null && context.tempmax === null) {\n    return;\n}\n\nreturn {\"topic\": \"normal\", \"payload\":context.tempnow < context.tempmax};","outputs":1,"noerr":0,"x":990,"y":460,"wires":[["b6b36f4.eff569"]]},{"id":"69873f3f.6dc7c","type":"function","z":"1971d588.e6adaa","name":"Temp Thermostat","func":"\nreturn {\"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["c41f6548.86e8e8"]]},{"id":"cc2d04b3.cb36b8","type":"function","z":"1971d588.e6adaa","name":"Temp Zone","func":"\nreturn {\"topic\": 'kelvin', \"payload\": parseFloat(msg.payload.replace(',', '.')) -273.15 };","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["c41f6548.86e8e8"]]},{"id":"c41f6548.86e8e8","type":"function","z":"1971d588.e6adaa","name":"Average","func":"context.temp1 = context.temp1 || 0.0;\ncontext.temp2 = context.temp2 || 0.0;\n\nif (msg.topic === 'kelvin') {\n  context.temp1 = msg.payload;\n} else {\n  context.temp2 = msg.payload;\n}\n\nreturn {\"topic\": 'average',\"payload\": (context.temp1+context.temp2)/2}","outputs":1,"noerr":0,"x":740,"y":340,"wires":[["6d715a06.0688b4"]]},{"id":"b6b36f4.eff569","type":"function","z":"1971d588.e6adaa","name":"SendIfChanged","func":"context.firstTime = context.firstTime || false;\ncontext.needheating = context.needheating || undefined;\ncontext.dooropen = context.dooropen || undefined;\n\nif (msg.topic == 'door open') {\n    context.dooropen = msg.payload;\n} else {\n    context.needheating = msg.payload;\n}\nif (context.needheating !== undefined && context.dooropen !== undefined) {\n    if (!context.firstTime && context.dooropen && context.needheating) {\n        context.firstTime = true;\n        return {\"payload\": true};\n    }\n} else if (context.firstTime && !context.dooropen) {\n    context.firstTime = false;\n    return {\"payload\": false};\n}\nreturn;","outputs":1,"noerr":0,"x":880,"y":680,"wires":[["c75ce8e6.6199b8"]]},{"id":"e92f5a35.d138e8","type":"switch","z":"1971d588.e6adaa","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":6,"x":330,"y":480,"wires":[["69873f3f.6dc7c"],["cc2d04b3.cb36b8"],["def12b5f.6a31a8"],["e7a84d24.2ddaa"],["e7a84d24.2ddaa"],["b2a45436.5e7648"]]},{"id":"1f8703.60a068fe","type":"split","z":"1971d588.e6adaa","name":"","splt":"|","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":170,"y":480,"wires":[["e92f5a35.d138e8"]]},{"id":"e7a84d24.2ddaa","type":"function","z":"1971d588.e6adaa","name":"OneDoorIsOpen","func":"context.closedoor1 = context.door1 || false;\ncontext.closedoor2 = context.door2 || false;\n\nif (msg.payload == \"door1False\") {\n    context.door1 = true;\n} else if (msg.payload == \"door2False\") {\n    context.door2 = true;\n} else if (msg.payload == \"door1True\" || msg.payload == \"door1false\") {\n    context.door1 = false;\n} else if (msg.payload == \"door2True\" || msg.payload == \"door2false\") {\n    context.door2 = false;\n}\n\nreturn {\"topic\":'door open',\"payload\": context.door1 || context.door2}","outputs":1,"noerr":0,"x":600,"y":560,"wires":[["b6b36f4.eff569"]]},{"id":"c75ce8e6.6199b8","type":"switch","z":"1971d588.e6adaa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":680,"wires":[["fedf286e.c17018"],["7a5b7e2d.d95b3"]]},{"id":"fedf286e.c17018","type":"function","z":"1971d588.e6adaa","name":"SendWindowOpen","func":"const room = global.get(\"room\");\n\nreturn {\"payload\":{\"room\": room, \"token\": 'Une fenêtre est ouverte [WO]', \"date\": new Date()}};","outputs":1,"noerr":0,"x":1250,"y":640,"wires":[["b575f661.bc46e8"]]},{"id":"7a5b7e2d.d95b3","type":"function","z":"1971d588.e6adaa","name":"SendWindowClosed","func":"const room = global.get(\"room\");\n\nreturn {\"payload\": {\"room\": room, \"token\": 'Une fenêtre est ouverte [WO]'}};","outputs":1,"noerr":0,"x":1260,"y":720,"wires":[["beae7edf.a6994"]]},{"id":"b575f661.bc46e8","type":"http request","z":"1971d588.e6adaa","name":"","method":"POST","ret":"txt","url":"http://localhost:3000/mishap/iotMishap","tls":"","x":1470,"y":640,"wires":[[]]},{"id":"beae7edf.a6994","type":"http request","z":"1971d588.e6adaa","name":"","method":"PUT","ret":"txt","url":"http://127.0.0.1:3000/mishap/iotMishap","tls":"","x":1470,"y":720,"wires":[[]]},{"id":"b2a45436.5e7648","type":"function","z":"1971d588.e6adaa","name":"StockRoom","func":"global.set(\"room\", msg.payload);\nreturn ;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[[]]},{"id":"2a346d81.625a12","type":"mqtt in","z":"1971d588.e6adaa","name":"Date","topic":"/home/general/Input/DateTime/Date_et_heure","qos":"2","broker":"2d288eea.eb73b2","x":110,"y":340,"wires":[["f3151d2d.667e4"]]},{"id":"f3151d2d.667e4","type":"function","z":"1971d588.e6adaa","name":"Stock Date","func":"global.set(\"dateNow\", msg.payload);\nreturn;","outputs":1,"noerr":0,"x":250,"y":340,"wires":[[]]},{"id":"def12b5f.6a31a8","type":"function","z":"1971d588.e6adaa","name":"Temp Consigne","func":"\nreturn {\"topic\": 'requested temperature',\"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":600,"y":500,"wires":[["6d715a06.0688b4"]]},{"id":"2d288eea.eb73b2","type":"mqtt-broker","z":"","name":"","broker":"http://127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8f3cd76e.b79998","type":"mqtt in","z":"7e35c639.174628","name":"Temp  Thermostat  A","topic":"/home/A/Input/float/Thermostat_(Température_pièce)","qos":"0","broker":"e9c5883e.a3f658","x":170,"y":180,"wires":[["6d020007.9bd5f"]]},{"id":"3269a8a8.141a48","type":"mqtt in","z":"7e35c639.174628","name":"Temp Zone","topic":"/home/general/Memory/float/Température_Zone_A_[K]","qos":"2","broker":"e9c5883e.a3f658","x":180,"y":240,"wires":[["6d020007.9bd5f"]]},{"id":"1538d6c9.ca7b49","type":"subflow:1971d588.e6adaa","z":"7e35c639.174628","x":920,"y":240,"wires":[["bc2e8fa2.6971","78390cff.017284"],["cd064313.f5335"],["c72bc5d3.ee1738"],["a7f0270e.5a8798"]]},{"id":"bc2e8fa2.6971","type":"debug","z":"7e35c639.174628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1110,"y":140,"wires":[]},{"id":"6d020007.9bd5f","type":"function","z":"7e35c639.174628","name":"","func":"context.temp1 = context.temp1 || 0.0;\ncontext.temp2 = context.temp2 || 0.0;\ncontext.temp3 = context.temp3 || 0.0;\ncontext.closedoor1 = context.closedoor1 || false;\ncontext.closedoor2 = context.closedoor2 || false;\ncontext.room = context.room || '';\n\nif (msg.topic.endsWith(\"/Input/float/Thermostat_(Température_pièce)\")) {\n  context.temp1 = msg.payload;\n} else if (msg.topic.startsWith(\"/home/general/Memory/float/Température_Zone\")) {\n    context.temp2 = msg.payload;\n    context.room = msg.topic;\n    context.room = context.room.replace('/home/general/Memory/float/Température_Zone_', '');\n    context.room = context.room.replace('_[K]', '');\n} else if (msg.topic == 'consigne') {\n    context.temp3 = msg.payload;\n} else if (msg.topic.endsWith(\"/Input/bool/Détecteur_porte_fermée_1\")) {\n    context.closedoor1 = msg.payload;\n} else if (msg.topic.endsWith(\"/Input/bool/Détecteur_porte_fermée_2\")) {\n    context.closedoor2 = msg.payload;\n}\n\nreturn {\"payload\": context.temp1+'|'+context.temp2+'|'+context.temp3+'|door1'+context.closedoor1+'|door2'+context.closedoor2+'|'+context.room}","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["1538d6c9.ca7b49"]]},{"id":"c74d9cd1.7f1d2","type":"function","z":"7e35c639.174628","name":"","func":"return {\"topic\": 'consigne', \"payload\": msg.payload.A.max}","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["4be79a35.df9d14","6d020007.9bd5f"]]},{"id":"c1a1eb6a.3bab28","type":"mqtt in","z":"7e35c639.174628","name":"","topic":"/home/A/Input/bool/Détecteur_porte_fermée_1","qos":"2","broker":"e9c5883e.a3f658","x":190,"y":360,"wires":[["6d020007.9bd5f"]]},{"id":"c5b2f1f0.26c04","type":"mqtt in","z":"7e35c639.174628","name":"","topic":"/home/A/Input/bool/Détecteur_porte_fermée_2","qos":"2","broker":"e9c5883e.a3f658","x":190,"y":400,"wires":[["6d020007.9bd5f"]]},{"id":"cd064313.f5335","type":"debug","z":"7e35c639.174628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1210,"y":320,"wires":[]},{"id":"e7b850ea.7f21f","type":"link in","z":"7e35c639.174628","name":"NormalMode","links":["f9934551.042268","d8273baf.8b7598"],"x":135,"y":300,"wires":[["c74d9cd1.7f1d2"]]},{"id":"4be79a35.df9d14","type":"debug","z":"7e35c639.174628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":550,"y":120,"wires":[]},{"id":"c72bc5d3.ee1738","type":"debug","z":"7e35c639.174628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1190,"y":400,"wires":[]},{"id":"a7f0270e.5a8798","type":"debug","z":"7e35c639.174628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1130,"y":480,"wires":[]},{"id":"78390cff.017284","type":"mqtt out","z":"7e35c639.174628","name":"","topic":"/home/A/Output/bool/Radiateur","qos":"","retain":"","broker":"e9c5883e.a3f658","x":1210,"y":220,"wires":[]},{"id":"e9c5883e.a3f658","type":"mqtt-broker","z":"","name":"","broker":"http://127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]