node_red/VacancyMode.json
[{"id":"e06d86c4.387c68","type":"subflow","name":"HeatingMinMax","info":"","in":[{"x":80,"y":280,"wires":[{"id":"ba0324cc.721948"}]}],"out":[{"x":1120,"y":300,"wires":[{"id":"767b4578.523b9c","port":0}]}]},{"id":"767b4578.523b9c","type":"function","z":"e06d86c4.387c68","name":"tempMinMax","func":"context.tempnow = context.tempnow || 0.0;\ncontext.tempmax = context.tempmax || 0.0;\ncontext.tempmin = context.tempmin || 0.0;\n\n\nif (msg.topic == 'tempMin') {\n  context.tempmin = msg.payload;\n} else if (msg.topic == 'tempMax') {\n  context.tempmax = msg.payload;\n} else if (msg.topic == 'tempAve') {\n  context.tempnow = msg.payload;\n}\n\n\nif (context.tempnow > context.tempmax){\n    return {\"payload\": false};\n} else if (context.tempnow < context.tempmin){\n    return {\"payload\": true};\n}\nreturn;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[[]]},{"id":"96de220b.9b13c","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["14af9747.8f3049"]]},{"id":"ce2b5f7e.5e041","type":"function","z":"e06d86c4.387c68","name":"Kelvin_to_Float","func":"\nreturn {\"topic\": 'kelvin', \"payload\": parseFloat(msg.payload.replace(',', '.')) -273.15 };","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["14af9747.8f3049"]]},{"id":"14af9747.8f3049","type":"function","z":"e06d86c4.387c68","name":"Average","func":"context.temp1 = context.temp1 || 0.0;\ncontext.temp2 = context.temp2 || 0.0;\n\nif (msg.topic === 'kelvin') {\n  context.temp1 = msg.payload;\n} else {\n  context.temp2 = msg.payload;\n}\n\nreturn {\"topic\": 'tempAve', \"payload\": (context.temp1+context.temp2)/2}","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["767b4578.523b9c"]]},{"id":"659ad9c2.0e76c8","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"topic\": 'tempMin', \"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["767b4578.523b9c"]]},{"id":"43167b63.52d444","type":"switch","z":"e06d86c4.387c68","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":280,"wires":[["96de220b.9b13c"],["ce2b5f7e.5e041"],["659ad9c2.0e76c8"],["70e32312.523a2c"]]},{"id":"ba0324cc.721948","type":"split","z":"e06d86c4.387c68","name":"","splt":"|","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":170,"y":280,"wires":[["43167b63.52d444"]]},{"id":"70e32312.523a2c","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"topic\": 'tempMax', \"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":360,"wires":[["767b4578.523b9c"]]},{"id":"d6a833e0.06695","type":"subflow","name":"Vacance (5)","info":"","in":[{"x":860,"y":420,"wires":[{"id":"5c61ffd5.3f046"}]}],"out":[{"x":1620,"y":360,"wires":[{"id":"81daf3af.de4f","port":0}]},{"x":1240,"y":260,"wires":[{"id":"15c3b68c.cd3a69","port":0}]},{"x":880,"y":540,"wires":[{"id":"13b9b2f5.30fa4d","port":0}]},{"x":1220,"y":620,"wires":[{"id":"1d9e12f5.8ddf9d","port":0}]},{"x":1540,"y":540,"wires":[{"id":"f9016fc7.6f523","port":0}]}]},{"id":"f3a23bb.1dd55c8","type":"function","z":"d6a833e0.06695","name":"EntréeHttpTest","func":"var timeEnd = new Date('June 27, 2018 20:00:00').valueOf();\nvar tempMin = 15;\nvar tempMax = 20;\n\nreturn {\"payload\": timeEnd+'|'+tempMin+'|'+tempMax};","outputs":1,"noerr":0,"x":160,"y":260,"wires":[[]]},{"id":"6545fa7a.1ec3b4","type":"split","z":"d6a833e0.06695","name":"","splt":"|","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":380,"wires":[["b7d39aba.d6f0a8"]]},{"id":"b7d39aba.d6f0a8","type":"switch","z":"d6a833e0.06695","name":" ","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":380,"wires":[["2a42026f.1c1aae"],["91c48886.972038"],["e2f0b8c.8546648"],["13b9b2f5.30fa4d"]],"outputLabels":["","temp.min","temp.max","id"]},{"id":"87641828.dea9c8","type":"mqtt in","z":"d6a833e0.06695","name":"EntréeLambdaInutile","topic":"/home/A/Input/float/Thermostat_(Température_pièce)","qos":"0","broker":"69c91172.f5486","x":150,"y":200,"wires":[["f3a23bb.1dd55c8"]]},{"id":"3296a1a2.86135e","type":"mqtt in","z":"d6a833e0.06695","name":"Date Input","topic":"/home/general/Input/DateTime/Date_et_heure","qos":"0","broker":"69c91172.f5486","x":640,"y":240,"wires":[["c861fb8.598cb08"]]},{"id":"81daf3af.de4f","type":"subflow:e06d86c4.387c68","z":"d6a833e0.06695","x":1460,"y":360,"wires":[[]]},{"id":"5c61ffd5.3f046","type":"function","z":"d6a833e0.06695","name":"Groupe Temp","func":"\ncontext.temp1 = context.temp1 || 0.0;\ncontext.temp2 = context.temp2 || 0.0;\ncontext.temp3 = context.temp3 || 0.0;\ncontext.temp4 = context.temp4 || 0.0;\n\nif (msg.topic == \"tempThermo\") {\n  context.temp1 = msg.payload;\n} else if (msg.topic == \"tempZone\") {\n  context.temp2 = msg.payload;\n} else if (msg.topic == \"tempMin\"){\n  context.temp3 = msg.payload;\n} else if (msg.topic == \"tempMax\"){\n  context.temp4 = msg.payload;\n}\n\n\nreturn {\"topic\": \"group\",\"payload\": context.temp1+'|'+context.temp2+'|'+context.temp3+'|'+context.temp4}","outputs":1,"noerr":0,"x":900,"y":360,"wires":[["40844769.726028"]]},{"id":"91c48886.972038","type":"function","z":"d6a833e0.06695","name":"Add Topic","func":"msg.topic = \"tempMin\";\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":340,"wires":[["5c61ffd5.3f046"]]},{"id":"e2f0b8c.8546648","type":"function","z":"d6a833e0.06695","name":"Add Topic","func":"msg.topic = \"tempMax\";\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":380,"wires":[["5c61ffd5.3f046"]]},{"id":"2a42026f.1c1aae","type":"function","z":"d6a833e0.06695","name":"Time End","func":"msg.topic = \"timeEnd\";\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":280,"wires":[["15c3b68c.cd3a69"]]},{"id":"15c3b68c.cd3a69","type":"function","z":"d6a833e0.06695","name":"Compare date","func":"context.timeNow = context.timeNow || 0.0;\ncontext.timeEnd = context.timeEnd || 0.0;\n\n\nif (msg.topic == \"timeNow\"){\n    context.timeNow = msg.payload;\n} else if (msg.topic == \"timeEnd\"){\n    context.timeEnd = msg.payload;\n}\n\nreturn {\"topic\": \"compare\",\"payload\":context.timeNow < context.timeEnd};","outputs":1,"noerr":0,"x":1020,"y":260,"wires":[["40844769.726028","1d9e12f5.8ddf9d"]]},{"id":"c861fb8.598cb08","type":"function","z":"d6a833e0.06695","name":"Time Now","func":"msg.topic = \"timeNow\"\nvar dateParts = msg.payload.split(\" \");\nvar date = \"\";\nvar subParts = dateParts[0].split(\"/\");\ndate += subParts[2]+\"-\"+subParts[1]+\"-\"+subParts[0]+\"T\"+dateParts[1];\nmsg.payload = new Date(date).valueOf();\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":240,"wires":[["15c3b68c.cd3a69"]]},{"id":"f1db15fc.96e558","type":"switch","z":"d6a833e0.06695","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":80,"wires":[[],[]]},{"id":"4fc9b3f4.1a0b9c","type":"mosca in","z":"d6a833e0.06695","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":150,"y":80,"wires":[[]]},{"id":"98be057.9d497f8","type":"json","z":"d6a833e0.06695","name":"","property":"payload","action":"","pretty":false,"x":150,"y":440,"wires":[["5ac9e70a.de9218"]]},{"id":"8739346f.32d9a8","type":"mqtt in","z":"d6a833e0.06695","name":"","topic":"/ws/consignes","qos":"2","broker":"57fbe139.3207c","x":130,"y":500,"wires":[["98be057.9d497f8"]]},{"id":"5ac9e70a.de9218","type":"function","z":"d6a833e0.06695","name":"","func":"var date = msg.payload.resolveDate;\nvar tMin = msg.payload.tMin;\nvar tMax = msg.payload.tMax;\nvar id = msg.payload.idMishap;\nreturn {\"payload\": date+'|'+tMin+'|'+tMax+'|'+id};","outputs":1,"noerr":0,"x":150,"y":380,"wires":[["6545fa7a.1ec3b4"]]},{"id":"a6e31d8a.151a9","type":"link in","z":"d6a833e0.06695","name":"","links":[],"x":235,"y":560,"wires":[[]]},{"id":"40844769.726028","type":"function","z":"d6a833e0.06695","name":"Switch","func":"context.vacH = context.vacH || false;\n\nif (msg.topic == \"compare\"){\n        context.vacH = msg.payload;\n}\n\nif (msg.topic == \"group\"){\n    if (context.vacH === true){\n        return {\"payload\":msg.payload};\n    } else {\n        return {\"payload\":false};\n    }\n}","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[["5747390e.5b93e8"]]},{"id":"5747390e.5b93e8","type":"switch","z":"d6a833e0.06695","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1300,"y":360,"wires":[[],["81daf3af.de4f"]],"outputLabels":["","msg.payload"]},{"id":"1d9e12f5.8ddf9d","type":"function","z":"d6a833e0.06695","name":"Switch","func":"context.compare = context.compare;\ncontext.id = context.id;\ncontext.firstTime =  context.firstTime || false;\n\nif (msg.topic == \"compare\"){\n    context.compare = msg.payload;\n}\n\nif (msg.topic == \"id\"){\n   context.id = msg.payload;\n}\n\nif(context.compare){\n   return {\"payload\": false};\n} else if (!context.firstTime) {\n    context.firstTime = true;\n    return {\"payload\": context.id};\n}","outputs":1,"noerr":0,"x":1130,"y":540,"wires":[["5ce95604.55ac48"]]},{"id":"5ce95604.55ac48","type":"switch","z":"d6a833e0.06695","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":540,"wires":[[],["f9016fc7.6f523"]],"outputLabels":["","msg.payload"]},{"id":"f9016fc7.6f523","type":"function","z":"d6a833e0.06695","name":"Json","func":"return {\"payload\":{\"idMishap\":msg.payload}};","outputs":1,"noerr":0,"x":1410,"y":540,"wires":[[]]},{"id":"13b9b2f5.30fa4d","type":"function","z":"d6a833e0.06695","name":"Add Topic","func":"\nreturn {\"topic\":\"id\", \"payload\": parseInt(msg.payload)};","outputs":1,"noerr":0,"x":700,"y":420,"wires":[["1d9e12f5.8ddf9d"]]},{"id":"57fbe139.3207c","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4ed97830.146488","type":"mosca in","z":"28b55ce2.cec104","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":170,"y":240,"wires":[[]]},{"id":"34d53461.195fbc","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp  Thermostat  A","topic":"/home/A/Input/float/Thermostat_(Température_pièce)","qos":"0","broker":"69c91172.f5486","x":210,"y":340,"wires":[["48541b75.0b67c4"]]},{"id":"400fb6bf.ac4178","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp Zone A","topic":"/home/general/Memory/float/Température_Zone_A_[K]","qos":"2","broker":"69c91172.f5486","x":230,"y":380,"wires":[["fc51ecea.5b31d"]]},{"id":"bebdc1a9.321ab","type":"mqtt out","z":"28b55ce2.cec104","name":"","topic":"/home/A/Output/bool/Radiateur","qos":"","retain":"","broker":"7363c6d.c60f938","x":830,"y":320,"wires":[]},{"id":"48541b75.0b67c4","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempThermo\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["9eac635d.d437e"]]},{"id":"fc51ecea.5b31d","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempZone\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["9eac635d.d437e"]]},{"id":"30b68312.723dec","type":"debug","z":"28b55ce2.cec104","name":"Chauffage on ?","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":820,"y":40,"wires":[]},{"id":"9bec6eb9.b3c83","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp  Thermostat  D","topic":"/home/D/Input/float/Thermostat_(Température_pièce)","qos":"0","broker":"69c91172.f5486","x":210,"y":440,"wires":[["60a3e55c.87564c"]]},{"id":"a0355b7a.907538","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp Zone D","topic":"/home/general/Memory/float/Température_Zone_D_[K]","qos":"2","broker":"69c91172.f5486","x":230,"y":480,"wires":[["343412ad.5883fe"]]},{"id":"5907f16c.728b8","type":"mqtt out","z":"28b55ce2.cec104","name":"","topic":"/home/D/Output/bool/Radiateur","qos":"","retain":"","broker":"7363c6d.c60f938","x":810,"y":460,"wires":[]},{"id":"60a3e55c.87564c","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempThermo\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["5e498ee5.66afc"]]},{"id":"343412ad.5883fe","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempZone\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":480,"wires":[["5e498ee5.66afc"]]},{"id":"81c382e2.f15c8","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp  Thermostat  E","topic":"/home/E/Input/float/Thermostat_(Température_pièce)","qos":"0","broker":"69c91172.f5486","x":210,"y":540,"wires":[["883b08e4.6cf038"]]},{"id":"c435112d.c1afc","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp Zone E","topic":"/home/general/Memory/float/Température_Zone_E_[K]","qos":"2","broker":"69c91172.f5486","x":230,"y":580,"wires":[["ab5a6458.7c0fd8"]]},{"id":"c2cb5cff.a4263","type":"mqtt out","z":"28b55ce2.cec104","name":"","topic":"/home/E/Output/bool/Radiateur","qos":"","retain":"","broker":"7363c6d.c60f938","x":810,"y":560,"wires":[]},{"id":"883b08e4.6cf038","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempThermo\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":540,"wires":[["4f6c792e.97d248"]]},{"id":"ab5a6458.7c0fd8","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempZone\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":580,"wires":[["4f6c792e.97d248"]]},{"id":"29511e01.198592","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp  Thermostat  G","topic":"/home/G/Input/float/Thermostat_(Température_pièce)","qos":"0","broker":"69c91172.f5486","x":210,"y":640,"wires":[["e706a70e.1a6a28"]]},{"id":"3861eb78.67c8f4","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp Zone G","topic":"/home/general/Memory/float/Température_Zone_G_[K]","qos":"2","broker":"69c91172.f5486","x":230,"y":680,"wires":[["fd7af94e.df0158"]]},{"id":"916f8307.750dd","type":"mqtt out","z":"28b55ce2.cec104","name":"","topic":"/home/G/Output/bool/Radiateur_1","qos":"","retain":"","broker":"7363c6d.c60f938","x":820,"y":640,"wires":[]},{"id":"e706a70e.1a6a28","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempThermo\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["5e8f3be6.e17db4"]]},{"id":"fd7af94e.df0158","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempZone\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":680,"wires":[["5e8f3be6.e17db4"]]},{"id":"9de36f08.bbf49","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp  Thermostat  H","topic":"/home/H/Input/float/Thermostat_(Température_pièce)","qos":"0","broker":"69c91172.f5486","x":210,"y":740,"wires":[["cd2c21cd.06ccc"]]},{"id":"1080475d.969319","type":"mqtt in","z":"28b55ce2.cec104","name":"Temp Zone H","topic":"/home/general/Memory/float/Température_Zone_H_[K]","qos":"2","broker":"69c91172.f5486","x":230,"y":780,"wires":[["3d039b99.722714"]]},{"id":"bf919f72.b788a","type":"mqtt out","z":"28b55ce2.cec104","name":"","topic":"/home/H/Output/bool/Radiateur","qos":"","retain":"","broker":"7363c6d.c60f938","x":810,"y":760,"wires":[]},{"id":"cd2c21cd.06ccc","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempThermo\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":740,"wires":[["7408942f.9dc63c"]]},{"id":"3d039b99.722714","type":"function","z":"28b55ce2.cec104","name":"Add Topic","func":"msg.topic = \"tempZone\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":780,"wires":[["7408942f.9dc63c"]]},{"id":"8fb2695e.f26a18","type":"mqtt out","z":"28b55ce2.cec104","name":"","topic":"/home/G/Output/bool/Radiateur_2","qos":"","retain":"","broker":"7363c6d.c60f938","x":820,"y":680,"wires":[]},{"id":"7408942f.9dc63c","type":"subflow:d6a833e0.06695","z":"28b55ce2.cec104","x":580,"y":760,"wires":[["bf919f72.b788a"],[],[],[],[]]},{"id":"5e8f3be6.e17db4","type":"subflow:d6a833e0.06695","z":"28b55ce2.cec104","x":580,"y":660,"wires":[["916f8307.750dd","8fb2695e.f26a18"],[],[],[],[]]},{"id":"4f6c792e.97d248","type":"subflow:d6a833e0.06695","z":"28b55ce2.cec104","x":580,"y":560,"wires":[["c2cb5cff.a4263"],[],[],[],[]]},{"id":"5e498ee5.66afc","type":"subflow:d6a833e0.06695","z":"28b55ce2.cec104","x":580,"y":460,"wires":[["5907f16c.728b8"],[],[],[],[]]},{"id":"9eac635d.d437e","type":"subflow:d6a833e0.06695","z":"28b55ce2.cec104","name":"","x":580,"y":360,"wires":[["bebdc1a9.321ab","30b68312.723dec"],["359e39f0.246846"],["dc853aa5.a44b98"],["4615c5f1.c3f7cc"],["b003ddd7.257ab"]]},{"id":"359e39f0.246846","type":"debug","z":"28b55ce2.cec104","name":"En vacance ?","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":820,"y":100,"wires":[]},{"id":"dc853aa5.a44b98","type":"debug","z":"28b55ce2.cec104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1090,"y":340,"wires":[]},{"id":"4615c5f1.c3f7cc","type":"debug","z":"28b55ce2.cec104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1090,"y":400,"wires":[]},{"id":"b003ddd7.257ab","type":"http request","z":"28b55ce2.cec104","name":"","method":"PUT","ret":"txt","url":"http://127.0.0.1:3000/mishap/setDone","tls":"","x":1110,"y":460,"wires":[[]]},{"id":"69c91172.f5486","type":"mqtt-broker","z":"","name":"","broker":"http://127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7363c6d.c60f938","type":"mqtt-broker","z":"","name":"","broker":"http://127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]