node_red/VacancyMonitor.json
[{"id":"e06d86c4.387c68","type":"subflow","name":"HeatingMinMax","info":"","in":[{"x":80,"y":280,"wires":[{"id":"ba0324cc.721948"}]}],"out":[{"x":1120,"y":300,"wires":[{"id":"767b4578.523b9c","port":0}]}]},{"id":"767b4578.523b9c","type":"function","z":"e06d86c4.387c68","name":"tempMinMax","func":"context.tempnow = context.tempnow || 0.0;\ncontext.tempmax = context.tempmax || 0.0;\ncontext.tempmin = context.tempmin || 0.0;\n\n\nif (msg.topic == 'tempMin') {\n  context.tempmin = msg.payload;\n} else if (msg.topic == 'tempMax') {\n  context.tempmax = msg.payload;\n} else if (msg.topic == 'tempAve') {\n  context.tempnow = msg.payload;\n}\n\n\nif (context.tempnow > context.tempmax){\n    return {\"payload\": false};\n} else if (context.tempnow < context.tempmin){\n    return {\"payload\": true};\n}\nreturn;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[[]]},{"id":"96de220b.9b13c","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["14af9747.8f3049"]]},{"id":"ce2b5f7e.5e041","type":"function","z":"e06d86c4.387c68","name":"Kelvin_to_Float","func":"\nreturn {\"topic\": 'kelvin', \"payload\": parseFloat(msg.payload.replace(',', '.')) -273.15 };","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["14af9747.8f3049"]]},{"id":"14af9747.8f3049","type":"function","z":"e06d86c4.387c68","name":"Average","func":"context.temp1 = context.temp1 || 0.0;\ncontext.temp2 = context.temp2 || 0.0;\n\nif (msg.topic === 'kelvin') {\n  context.temp1 = msg.payload;\n} else {\n  context.temp2 = msg.payload;\n}\n\nreturn {\"topic\": 'tempAve', \"payload\": (context.temp1+context.temp2)/2}","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["767b4578.523b9c"]]},{"id":"659ad9c2.0e76c8","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"topic\": 'tempMin', \"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["767b4578.523b9c"]]},{"id":"43167b63.52d444","type":"switch","z":"e06d86c4.387c68","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":280,"wires":[["96de220b.9b13c"],["ce2b5f7e.5e041"],["659ad9c2.0e76c8"],["70e32312.523a2c"]]},{"id":"ba0324cc.721948","type":"split","z":"e06d86c4.387c68","name":"","splt":"|","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":170,"y":280,"wires":[["43167b63.52d444"]]},{"id":"70e32312.523a2c","type":"function","z":"e06d86c4.387c68","name":"String_to_Float","func":"\nreturn {\"topic\": 'tempMax', \"payload\": parseFloat(msg.payload.replace(',', '.'))};","outputs":1,"noerr":0,"x":500,"y":360,"wires":[["767b4578.523b9c"]]},{"id":"6545fa7a.1ec3b4","type":"split","z":"d6a833e0.06695","name":"","splt":"|","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":380,"wires":[["b7d39aba.d6f0a8"]]},{"id":"b7d39aba.d6f0a8","type":"switch","z":"d6a833e0.06695","name":" ","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":380,"wires":[["2a42026f.1c1aae"],["91c48886.972038"],["e2f0b8c.8546648"],["13b9b2f5.30fa4d"]],"outputLabels":["","temp.min","temp.max","id"]},{"id":"3296a1a2.86135e","type":"mqtt in","z":"d6a833e0.06695","name":"Date Input","topic":"/home/general/Input/DateTime/Date_et_heure","qos":"0","broker":"69c91172.f5486","x":640,"y":240,"wires":[["c861fb8.598cb08"]]},{"id":"81daf3af.de4f","type":"subflow:e06d86c4.387c68","z":"d6a833e0.06695","x":1460,"y":360,"wires":[[]]},{"id":"5c61ffd5.3f046","type":"function","z":"d6a833e0.06695","name":"Groupe Temp","func":"\ncontext.temp1 = context.temp1 || 0.0;\ncontext.temp2 = context.temp2 || 0.0;\ncontext.temp3 = context.temp3 || 0.0;\ncontext.temp4 = context.temp4 || 0.0;\n\nif (msg.topic == \"tempThermo\") {\n  context.temp1 = msg.payload;\n} else if (msg.topic == \"tempZone\") {\n  context.temp2 = msg.payload;\n} else if (msg.topic == \"tempMin\"){\n  context.temp3 = msg.payload;\n} else if (msg.topic == \"tempMax\"){\n  context.temp4 = msg.payload;\n}\n\n\nreturn {\"topic\": \"group\",\"payload\": context.temp1+'|'+context.temp2+'|'+context.temp3+'|'+context.temp4}","outputs":1,"noerr":0,"x":900,"y":360,"wires":[["40844769.726028"]]},{"id":"91c48886.972038","type":"function","z":"d6a833e0.06695","name":"Add Topic","func":"msg.topic = \"tempMin\";\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":340,"wires":[["5c61ffd5.3f046"]]},{"id":"e2f0b8c.8546648","type":"function","z":"d6a833e0.06695","name":"Add Topic","func":"msg.topic = \"tempMax\";\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":380,"wires":[["5c61ffd5.3f046"]]},{"id":"2a42026f.1c1aae","type":"function","z":"d6a833e0.06695","name":"Time End","func":"msg.topic = \"timeEnd\";\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":280,"wires":[["15c3b68c.cd3a69"]]},{"id":"15c3b68c.cd3a69","type":"function","z":"d6a833e0.06695","name":"Compare date","func":"context.timeNow = context.timeNow || 0.0;\ncontext.timeEnd = context.timeEnd || 0.0;\n\n\nif (msg.topic == \"timeNow\"){\n    context.timeNow = msg.payload;\n} else if (msg.topic == \"timeEnd\"){\n    context.timeEnd = msg.payload;\n}\n\nreturn {\"topic\": \"compare\",\"payload\":context.timeNow < context.timeEnd};","outputs":1,"noerr":0,"x":1020,"y":260,"wires":[["40844769.726028","1d9e12f5.8ddf9d"]]},{"id":"c861fb8.598cb08","type":"function","z":"d6a833e0.06695","name":"Time Now","func":"msg.topic = \"timeNow\"\nvar dateParts = msg.payload.split(\" \");\nvar date = \"\";\nvar subParts = dateParts[0].split(\"/\");\ndate += subParts[2]+\"-\"+subParts[1]+\"-\"+subParts[0]+\"T\"+dateParts[1];\nmsg.payload = new Date(date).valueOf();\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":240,"wires":[["15c3b68c.cd3a69"]]},{"id":"4fc9b3f4.1a0b9c","type":"mosca in","z":"d6a833e0.06695","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":150,"y":80,"wires":[[]]},{"id":"98be057.9d497f8","type":"json","z":"d6a833e0.06695","name":"","property":"payload","action":"","pretty":false,"x":150,"y":440,"wires":[["5ac9e70a.de9218"]]},{"id":"8739346f.32d9a8","type":"mqtt in","z":"d6a833e0.06695","name":"","topic":"/ws/consignes","qos":"2","broker":"57fbe139.3207c","x":130,"y":500,"wires":[["98be057.9d497f8"]]},{"id":"5ac9e70a.de9218","type":"function","z":"d6a833e0.06695","name":"","func":"var date = msg.payload.resolveDate;\nvar tMin = msg.payload.tMin;\nvar tMax = msg.payload.tMax;\nvar id = msg.payload.idMishap;\nreturn {\"payload\": date+'|'+tMin+'|'+tMax+'|'+id};","outputs":1,"noerr":0,"x":150,"y":380,"wires":[["6545fa7a.1ec3b4"]]},{"id":"a6e31d8a.151a9","type":"link in","z":"d6a833e0.06695","name":"","links":[],"x":235,"y":560,"wires":[[]]},{"id":"40844769.726028","type":"function","z":"d6a833e0.06695","name":"Switch","func":"context.vacH = context.vacH || false;\n\nif (msg.topic == \"compare\"){\n        context.vacH = msg.payload;\n}\n\nif (msg.topic == \"group\"){\n    if (context.vacH === true){\n        return {\"payload\":msg.payload};\n    } else {\n        return {\"payload\":false};\n    }\n}","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[["5747390e.5b93e8"]]},{"id":"5747390e.5b93e8","type":"switch","z":"d6a833e0.06695","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1300,"y":360,"wires":[[],["81daf3af.de4f"]],"outputLabels":["","msg.payload"]},{"id":"1d9e12f5.8ddf9d","type":"function","z":"d6a833e0.06695","name":"Switch","func":"context.compare = context.compare;\ncontext.id = context.id;\ncontext.firstTime =  context.firstTime || false;\n\nif (msg.topic == \"compare\"){\n    context.compare = msg.payload;\n}\n\nif (msg.topic == \"id\"){\n   context.id = msg.payload;\n}\n\nif(context.compare){\n   return {\"payload\": false};\n} else if (!context.firstTime) {\n    context.firstTime = true;\n    return {\"payload\": context.id};\n}","outputs":1,"noerr":0,"x":1130,"y":540,"wires":[["5ce95604.55ac48"]]},{"id":"5ce95604.55ac48","type":"switch","z":"d6a833e0.06695","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":540,"wires":[[],["f9016fc7.6f523"]],"outputLabels":["","msg.payload"]},{"id":"f9016fc7.6f523","type":"function","z":"d6a833e0.06695","name":"Json","func":"return {\"payload\":{\"idMishap\":msg.payload}};","outputs":1,"noerr":0,"x":1410,"y":540,"wires":[[]]},{"id":"13b9b2f5.30fa4d","type":"function","z":"d6a833e0.06695","name":"Add Topic","func":"\nreturn {\"topic\":\"id\", \"payload\": parseInt(msg.payload)};","outputs":1,"noerr":0,"x":700,"y":420,"wires":[["1d9e12f5.8ddf9d"]]},{"id":"69c91172.f5486","type":"mqtt-broker","z":"","name":"","broker":"http://127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"57fbe139.3207c","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]